<table class="table table-hover">
    <thead>
        <tr style="color:#0E2EB0">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Celular</th>
            <th>Correo</th>
            <th>País</th>
            <th>Ciudad</th>
            <th>Fecha de nacimiento</th>
            <th>Hash</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in cliente_list %}
        <tr>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.cedula }}</td>
            <td>{{ cliente.celular }}</td>
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.pais }}</td>
            <td>{{ cliente.ciudad }}</td>
            <td>{{ cliente.fechaNacimiento }}</td>
            <td>{{ cliente.validar_integridad }}</td>
            <td>
                <span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: {% if cliente.validar_integridad %} green {% else %} red {% endif %};"></span>
            </td>
            <td>
                <a class="btn btn-primary" href="/adicionalcreate">
                    Completar Información Adicional
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
